* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    width: 512px;
    /* height: 512px; */
    background-color: #191d7b;
    margin-bottom: 4rem;
    
}

.banner {
  width: 512px;

  
}

.banner img {

    width: 512px;
}

.title {
    margin-top: 4rem;
    font-family: Sigmar;
    text-align: center;
    line-height: 0.9;
    color:#ffffff
}

p {
    font-family: DM Sans;
    margin-top: 1rem;
    line-height: 1.3;
    color:#ffffff
}




.download {
    border: none;
    padding:1rem;
    margin-top: 1rem;
    border-radius: 14px;
    width: 20rem;
    font-family: DM Sans;
}


.discord {
    border: none;
    padding:1rem;
    margin-top: 1rem;
    border-radius: 14px;
    width: 20rem;
    font-family: DM Sans;
    background-color: rgb(86, 77, 215);
    color: #ffffff;
}

.postcards {
    color: #ffffff;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    border: solid;
    background-color:#5d64d1;
    margin-left: 1rem;
    margin-right: 1rem;
    border:none;
    min-height: 41rem;
    position:relative
}

.postcards h2       {
   margin-top: 2rem;
   font-family: Sigmar;
   text-align: left;
   line-height: 0.9;
   color:#ffffff
}

.postcards p { 
    
    text-align: left;

}

.postcards img {


    border-radius: 1rem;
    align-items: center;
    translate: -2%;
    max-width: 27rem;

}


.images {
width: 6rem;
position:absolute;
left: 2.5rem;
bottom: 38.5rem;
z-index: 10;
}
